<div class="container-fluid  p-5">
  

  <div>
    
    <h1 class="container-fluid p-1" 
      style="text-align: center;
      color: white;
      background-color: rgb(3, 60, 60);
      border-radius: 50rem;">PRODUCTS</h1>
  </div>

  <div class="row " style="justify-content: space-around;">

    <div class="col-md-6 mt-2 p-2" 
    style="background-color: aliceblue;
    border-radius: 2rem;
    box-shadow: 0 0 15px rgba(255, 255, 255, 1);">

      <h1 class="container-fluid p-1" 
      style="text-align: center;
      color: white;
      background-color: rgba(3, 60, 60,0.8);
      box-shadow: 0 0 15px rgba(3, 60, 60, 1);
      border-radius: 50rem;">TABLE</h1>

<div class="table-responsive p-1" style="overflow-y: auto;">
  <table class="table ">
    <thead>
      <tr>
        <th scope="col">ID</th>
        <th scope="col">Name</th>
        <th scope="col">Category</th>
        <th scope="col">Description</th>
        <th scope="col">Price</th>
        <th scope="col">Action</th>
        
      </tr>
    </thead>
    <tbody>
      <tr *ngFor="let product of products">
        <td>{{ product.id }}</td>
        <td>{{ product.name }}</td>
        <td>{{ product.category }}</td>
        <td>{{ product.description }}</td>
        <td>{{ product.price }}</td>
        <td >
          <svg class="mx-1" (click)="delProd(product.id)" xmlns="http://www.w3.org/2000/svg" height="20" width="20" viewBox="0 0 448 512"><path fill="#ff0000" d="M135.2 17.7L128 32 32 32C14.3 32 0 46.3 0 64S14.3 96 32 96l384 0c17.7 0 32-14.3 32-32s-14.3-32-32-32l-96 0-7.2-14.3C307.4 6.8 296.3 0 284.2 0L163.8 0c-12.1 0-23.2 6.8-28.6 17.7zM416 128L32 128 53.2 467c1.6 25.3 22.6 45 47.9 45l245.8 0c25.3 0 46.3-19.7 47.9-45L416 128z"/></svg>
          <!--<button (click)="delProd(product.id)" class="btn btn-danger">Delete</button>-->
          <!--<button (click)="editProd(product)" class="btn btn-info">Edit</button></td>-->
          <svg class="mx-1" (click)="editProd(product)" xmlns="http://www.w3.org/2000/svg" height="20" width="20" viewBox="0 0 512 512"><!--!Font Awesome Free 6.7.2 by @fontawesome - https://fontawesome.com License - https://fontawesome.com/license/free Copyright 2025 Fonticons, Inc.--><path fill="#00ffd5" d="M471.6 21.7c-21.9-21.9-57.3-21.9-79.2 0L362.3 51.7l97.9 97.9 30.1-30.1c21.9-21.9 21.9-57.3 0-79.2L471.6 21.7zm-299.2 220c-6.1 6.1-10.8 13.6-13.5 21.9l-29.6 88.8c-2.9 8.6-.6 18.1 5.8 24.6s15.9 8.7 24.6 5.8l88.8-29.6c8.2-2.7 15.7-7.4 21.9-13.5L437.7 172.3 339.7 74.3 172.4 241.7zM96 64C43 64 0 107 0 160L0 416c0 53 43 96 96 96l256 0c53 0 96-43 96-96l0-96c0-17.7-14.3-32-32-32s-32 14.3-32 32l0 96c0 17.7-14.3 32-32 32L96 448c-17.7 0-32-14.3-32-32l0-256c0-17.7 14.3-32 32-32l96 0c17.7 0 32-14.3 32-32s-14.3-32-32-32L96 64z"/></svg>
        </td>
      </tr>
    </tbody>
  </table>
</div>
      
    </div>










    <div class="col-md-5 mt-2 p-2" 
    style="background-color: aliceblue;
    border-radius: 2rem;
    box-shadow: 0 0 15px rgba(255, 255, 255, 1);">
      <h1 class="container-fluid p-1" 
      style="text-align: center;
      color: white;
      background-color: rgba(3, 60, 60,0.8);
      box-shadow: 0 0 15px rgba(3, 60, 60, 1);
      border-radius: 50rem;">FORM</h1>
      <div class="container mt-5">
        <form [formGroup]="productForm" (ngSubmit)="onSubmit()">
          <div class="form-group">
            <label for="name">Name</label>
            <input type="text" id="name" class="form-control" formControlName="name">
            <div *ngIf="productForm.get('name')?.touched && productForm.get('name')?.invalid" class="text-danger">
              Name is required.
            </div>
          </div>
          <div class="form-group">
            
            <label for="category">Category</label>
            <select id="category" class="form-control" formControlName="category">
              <option *ngFor="let cat of categories" [value]="cat">{{cat}}</option>
            </select>
            
            <div *ngIf="productForm.get('category')?.touched && productForm.get('category')?.invalid" class="text-danger">
              Category is required.
            </div>
          </div>
          <div class="form-group">
            <label for="description">Description</label>
            <textarea id="description" class="form-control" formControlName="description"></textarea>
            <div *ngIf="productForm.get('description')?.touched && productForm.get('description')?.invalid" class="text-danger">
              Description is required.
            </div>
          </div>
          <div class="form-group">
            <label for="price">Price</label>
            <input type="number" id="price" class="form-control" formControlName="price">
            <div *ngIf="productForm.get('price')?.touched && productForm.get('price')?.invalid" class="text-danger">
              <div *ngIf="productForm.get('price')?.errors?.['required']">Price is required.</div>
              <div *ngIf="productForm.get('price')?.errors?.['min']">Price cannot be less than 0.</div>
            </div>
          </div>
          <div class="form-group mt-2" style="display: flex;justify-content: center;">
            <button *ngIf="!isExisting" type="submit" class="btn btn-primary" [disabled]="productForm.invalid">Submit</button>
            <button (click)="editToDB($event)" class="btn btn-primary" [disabled]="productForm.invalid" *ngIf="isExisting" >Edit</button>
          </div>
         
        </form>
        <div style="justify-content: center;display: flex; margin-top: .4rem;">
          <button (click)="clearForm()" class="btn btn-danger">Clear</button>
        </div>
      </div>
      
      
      
    </div>
  </div>
</div>
